/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 *= require foundation_and_overrides

 */

@import "foundation_and_overrides";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: bold;
}

h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}

.no_padding {
	padding: 0px;
}

.top_padding {
	padding: 50px 0px !important;
}

.text-white {
	color: #fff;
}

.text_center {
	text-align: center;
}

.button {
	padding: 6px 10px !important;
}

.flex {
	display: flex;
    align-items: center;
    justify-content: center;
}

.margin0 {
	margin: 0px;
}

.button {
	a {
		color: #fff !important;
	}
}

p {
	margin-bottom: 5px;
}

.author {
	font-size: 0.7rem !important;
	color: #696969;
	margin-bottom: 10px;
	font-style: italic;
}

.promise_list {
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 0 10px 20px 0 #eee;
	.columns {

		img {
			max-height: 250px;
		}

		.details {
			font-size: 0.8rem;
		}
	}
}

.comment_block {
	padding: 15px;
	background-color: #f3f3f3;
	margin-bottom: 10px;
}


.show_page {
	padding-top: 75px;
	.columns {
		.show_image {
			img {
				margin-bottom: 20px;
			}
		}
	}
}

.block_engage {
	border-top: 1px solid #f3f3f3;
	.columns {
		text-align: center;
		padding: 10px;

		i {
			margin-right: 5px;
		}
	}
}

.block_card {
	margin-bottom: 30px;

	.block_border {
		background-color: #fff;
		box-shadow: 0 10px 20px 0 #eee;

		.image_holder {
			width: 100%;
			padding-bottom: 56.25%;
			position: relative;
		}

		.image_holder img, iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}

		.block_engage {
			border-top: 1px solid #f3f3f3;
			.columns {
				text-align: center;
				padding: 10px;

				i {
					margin-right: 5px;
				}
			}
		}

		.columns {
			img {
				width: 100%;
			}

			h6 {
				margin: 15px 0px;
			}

			p {
				font-size: 0.8rem;
			}

			.block_description {
				height: 40px;
				overflow-y: hidden;
			}
			
		}
	}

	.block_border:hover {
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
        transition: all 0.1s ease-in;
        -webkit-transition: all 0.1s ease-in;
        -moz-transition: all 0.1s ease-in;
        -o-transition: all 0.1s ease-in;
	}
}