<div class="large-12 small-12 columns">   
    <div class="large-8 large-offset-2 small-12 columns"> 	
		<h1 class='text-center'>New Coalition Promises</h1>

		<%= render 'form', achievement: @achievement %>

		<%= link_to 'Back', achievements_path %>
	</div>
</div>
